<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/_pasted_code_/src/edu/princeton/cs/algs4/RandomSeq.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.princeton.cs.algs4.RandomSeq"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="_pasted_code_"/>
</launchConfiguration>
